################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# C# build outputs
*.user
*.suo
**/.vs/
**/bin/
**/obj/

# Taginfo
/taginfo.json
/taginfo.md

# Backup
/presets/backup/

# Tools
/tools/PresetValidator/Properties/launchSettings.json
/tools/Signalling/SignalAudit/appsettings.json
/tools/Signalling/SignalAudit/appsettings.Local.json
/tools/Signalling/SignalAudit/Properties/launchSettings.json
/tools/Signalling/audit/
