################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# C# build outputs
*.user
*.suo
**/.vs/
**/bin/
**/obj/

# Taginfo
/taginfo.json
/taginfo.md

# Backup
/presets/backup/
